.bold-font {
    font-family: CustomBold;
}

.regular-font {
    font-family: CustomRegular;
}

.light-font {
    font-family: CustomLight;
}


@font-face {
  font-family: CustomBold;
  src: url("/static/css/fonts/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: CustomRegular;
  src: url("/static/css/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: CustomLight;
  src: url("/static/css/fonts/Lato/Lato-Light.ttf");
}
