.abspos {
    position: absolute;
}

.statpos {
    position: static;
}

.fixpos {
    position: fixed;
}

.relpos {
    position: relative;
}

.zstackli {
    z-index: 2;
}

.zstackchip {
    z-index: 1;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
