{% extends "base.html" %}

{% block content %}

<div class="container-fluid pl-5 pr-5 mt-5" id="top-container">

    <div class="row">

        <!-- Input -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="input-group">
                <input type="text" class="form-control form-control-lg" placeholder="Search for artists" autocomplete="off" id="search"> </input>
                <div class="input-group-append">
                    <button class="btn btn-secondary dropdown-toggle btn-lg bg-info" style="width: 8rem;" id="dropdown-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Artists</button>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
                        <h6 class="dropdown-header">Search For:</h6>
                        <a class="dropdown-item" id="dropdown-artist" href="#">Artists</a>
                        <a class="dropdown-item" id="dropdown-track" href="#">Tracks</a>
                        <a class="dropdown-item" id="dropdown-genre" href="#">Genres</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Search Results -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div>
                <ul class="list-group rel-pos zstack-li" id="match-list"></ul>
            </div>
        </div>
    </div>

    <!-- Tags -->
    <div class="row">
        <div class="pt-3 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="scroll-view rel-pos zstack-chip" id="artist-tag-list"> </div>
        </div>
    </div>

    <div class="row">

        <!-- Sidebar -->
        <div class="mt-3 col-lg-3 col-md-5">
            <div class="card" id="playlist-name-card">
                <div class="card-body">
                    <b>Playlist Name</b>
                    <form class="mt-1">
                        <input id="playlist-name-form" class="form-control form-control-sm" type="text" id="playlist-name-form" onclick="this.select();" value="SpotRex Generated Playlist">
                    </form>

                    <button type="button" id="create-playlist-button" class="mt-3 btn btn-primary btn-sm btn-block" disabled="true">Create Playlist</button>
                </div>
            </div>

            <ul class="list-group mt-3" id="playlist-settings-card">

                <li class="list-group-item">
                    <b>Playlist Settings</b>
                </li>

                <li class="list-group-item">
                    <div class="text-muted">Number of Tracks</div>
                    <div class="mt-5" id="number-slider"></div>

                </li>

                <!-- Popularity -->
                <li class="list-group-item">
                    <div class="text-muted">Popularity</div>
                    <div class="mt-3" id="popularity-slider"></div>

                    <div class="row pt-3" style="font-size: 12px; line-height: 1px;">
                        <div class="col-lg-4">
                            Underground
                        </div>
                        <div class="col-lg-8 text-right">
                            Mainstream
                        </div>
                    </div>
                </li>

                <!-- Valence -->
                <li class="list-group-item">
                    <div class="text-muted">Mood</div>
                    <div class="mt-3" id="mood-slider"></div>
                    <div class="row pt-3" style="font-size: 12px; line-height: 1px;">
                        <div class="col-lg-4">
                            Somber
                        </div>
                        <div class="col-lg-8 text-right">
                            Euphoric
                        </div>
                    </div>
                </li>

                <!-- Energy -->
                <li class="list-group-item">
                    <div class="text-muted">Energy</div>
                    <div class="mt-3" id="energy-slider"></div>
                    <div class="row pt-3" style="font-size: 12px; line-height: 1px;">
                        <div class="col-lg-4">
                            Mellow
                        </div>
                        <div class="col-lg-8 text-right">
                            Loud
                        </div>
                    </div>
                </li>

                <!-- Tempo -->
                <li class="list-group-item">
                    <div class="text-muted">Tempo</div>
                    <div class="mt-3" id="tempo-slider"></div>
                    <div class="row pt-3" style="font-size: 12px; line-height: 1px;">
                        <div class="col-lg-4">
                            Slow
                        </div>
                        <div class="col-lg-8 text-right">
                            Fast
                        </div>
                    </div>
                </li>

                <!-- Vocals -->
                <li class="list-group-item">
                    <div class="text-muted">Vocals</div>
                    <div class="mt-3" id="vocal-slider"></div>
                    <div class="row pt-3" style="font-size: 12px; line-height: 1px;">
                        <div class="col-lg-4">
                            Instrumental
                        </div>
                        <div class="col-lg-8 text-right">
                            Wordy
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-lg-9 mt-3">
            <div class="row">
                <div class="col-lg-8">
                    <h5 id="recommendation-header" style="display: none;">Your Recommendations</h5>
                </div>

                <div class="col-lg-4 text-right" style="display: none;" id="play-info">28 tracks, 1 hr 45 min</div>
            </div>
            <ul class="list-group" id="recommendation-list"></ul>
        </div>
    </div>

</div>

<script type="text/javascript"> var accessToken = '{{ data.access_token }}' </script>
<script type="module" src="{{ url_for('static', filename='js/bundle.js') }}"> </script>

{% endblock %}
